<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <servlet>
    <servlet-name>commit</servlet-name>
    <servlet-class>
		org.attendance.servletcommit.CommitServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commit</servlet-name>
    <url-pattern>/commitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>
		org.attendance.servlet.LoginServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>
		org.attendance.servlet.CheckLogin
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_log</servlet-name>
    <servlet-class>
		org.attendance.servlet.QueryLoginLogServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_log</servlet-name>
    <url-pattern>/queryLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_class</servlet-name>
    <servlet-class>
		org.attendance.servlet.CreateClassServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_class</servlet-name>
    <url-pattern>/createClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_class2</servlet-name>
    <servlet-class>
		org.attendance.servlet.CreateClassServlet2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_class2</servlet-name>
    <url-pattern>/createClass2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download_subject</servlet-name>
    <servlet-class>
		org.attendance.servlet.DownloadSubjectServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download_subject</servlet-name>
    <url-pattern>/downloadSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download_group</servlet-name>
    <servlet-class>
		org.attendance.servlet.DownloadGroupServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download_group</servlet-name>
    <url-pattern>/downloadGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download_student</servlet-name>
    <servlet-class>
		org.attendance.servlet.DownloadStudentServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download_student</servlet-name>
    <url-pattern>/downloadStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>query_subject</servlet-name>
    <servlet-class>
		org.attendance.servlet.QueryGroupServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query_subject</servlet-name>
    <url-pattern>/queryGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>importStuInfo</servlet-name>
    <servlet-class>
		org.attendance.servlet.ImportStudentInfoServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importStuInfo</servlet-name>
    <url-pattern>/import</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>getClassList</servlet-name>
    <servlet-class>
		org.attendance.servlet.QueryClassListServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getClassList</servlet-name>
    <url-pattern>/queryClassList</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>